/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #000000;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #023D08;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #70b981;
    font-weight: 600;
    transition: color 0.3s ease;
}

.navbar nav a:hover {
    color: white;
}

/* Hero Section */
.hero {
    background-color: #70b981;
    text-align: center;
    padding: 80px 20px;
}

.hero-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.hero-image img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
   
